{% extends 'partials/base.html' %} {# tells the render what file to use #}
{% block article %} {# tells there renderer where in the file to put this content #}
{% filter markdown %} {# turns the following content into markdown #}

# (Q)ueer (A)rt and (P)orn (C)ollective

**The Queer Art and Porn Collective is about creating porn with performer control that is born from the metallic slicked glitter bombed brains of a few Portland sex workers.**


Our model is intended to curb many of the problems that arise under capitalism in the process of producing the art of pornography from rampant harassment on sets to performers not having access to their content. Obviously, we can not prevent the ups and downs of the market that strain small start ups like ours but we are attempting to organize a space that is unique in it’s character for the people on set as well as producing fresh, hot and juicy content for our throbbing and quivering fans. We hope to have an influence on the greater Pornography industry as a whole by setting higher standards like is outlined in our phenomenal Code of Conduct that we will hold everyone in our organization to the best of our ability.



Capitalism shrouds all of us with backward ideology, teaching us to hate ourselves as well as the other human beings that populate our everyday lives. Racism, sexism, transphobia, homophobia, whorephobia, ignorance, xenophobia, islamophobia, anti semitism, fatphobia and intolerance dictate the world around us in ways beyond our comprehension, something that merely starting this collective will not have any impact on what so ever. We are embarking on this project because many of us have worked in hostile environments as sex workers and while performing regular non sexualized wage labor just like you. We sincerely doubt that participation in this project will protect us from the ills that capitalism inflicts on us but we hope that we can at least control our workplace.

Also we love making gay sexy as fuck porn.

{% endfilter %}
{% endblock article %}
