{% extends 'partials/base.html' %} {# tells the render what file to use #}
{% block article %} {# tells there renderer where in the file to put this content #}
{% filter markdown %} {# turns the following content into markdown #}


<p style="text-align: center">{{ worker.name }}</p>

---

Total earned: ${{ worker.earnings }}

Current payout: ${{ worker.earnings - worker.paid }}

---

Videos:

{% for video in worker.videos %}
* [{{ video.name }}]({{ video.link }}) -- total earned: ${{ worker.earnings_map[video.name] }}
{% endfor %}

{% endfilter %}
{% endblock article %}
